@import "src/assets/scss/variables";

.orderTypeTag {
  margin-left: 3px;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%);
  margin-top: -48%;
  padding: 2px 18px;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
  font-size: 10px;
}

.flag {
  background-color: $white;
  z-index: 2;
  padding: 5px;
  border-radius: 25px;
  position: absolute;
  top: 45%;
  left: 38%;
  transform: translate(-45%, -40%);
  box-shadow: 1px 2px 5px -2px $medium-grey;
}
